@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Poppins", sans-serif;
}
.gradient-text{
    background: -webkit-linear-gradient(#3d6713, #7dd932);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.paginateStyle{
    background-color:#111;
    border: 1.4px #3d6713 solid;
    padding: 8px 20px;
    font-size: 1.1rem;
    color: #3d6713;
    border-radius: 3px;
    margin: 0 5px;
    text-align: center;
}
.paginateStyle:hover{
    color: #dddd;
    background-color: #3d6713;
}

.active{
    background-color: #3d6713;
    color: #ddd;
}