@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text{
    background: -webkit-linear-gradient(#3d6713, #7dd932);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.paginateStyle{
    background-color:#111;
    border: 1.4px #3d6713 solid;
    padding: 8px 20px;
    font-size: 1.1rem;
    color: #3d6713;
    border-radius: 3px;
    margin: 0 5px;
    text-align: center;
}
.paginateStyle:hover{
    color: #dddd;
    background-color: #3d6713;
}

.active{
    background-color: #3d6713;
    color: #ddd;
}
.audio-bar{
    -webkit-appearance: none;
    width: 100px;
    height: 7px;
    border-radius: 20px;
}
.audio-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background-color: #3d6713;
    border-radius: 50%;
}

.audio-bar-mobile{
    -webkit-appearance: none;
    width: 100px;
    height: 5px;
    border-radius: 20px;
}
.audio-bar-mobile::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    background-color: #3d6713;
    border-radius: 50%;
}
